<section class="my-3 md:my-9">
  <h1
    class="heyitsjoealongi-theme-heading-one mx-auto text-5xl md:text-6xl font-medium text-blue-600 text-left subpixel-antialiased"
  >
    heyitsjoealongi
  </h1>
  <p
    class="heyitsjoealongi-theme-introduction my-9 text-xl md:text-3xl font-light text-blue-300 text-left subpixel-antialiased"
  >
    Advising on resilience, engineering security, and shaping what’s next.
  </p>

  <p
    class="avalinginc-theme-paragraph my-3 text-base md:text-xl font-light text-neutral-300 text-left subpixel-antialiased"
  >
    Developing modern applications from code to cloud in JavaScript, TypeScript,
    Java, C#/.NET, Python, SQL, and NoSQL. Building cloud-native and on-prem
    systems with containers and machine learning. Streamlining delivery with
    agile development, hybrid transformation, and effective development
    operation processes. Enhancing applications with modern code and intelligent
    systems—ready for today, built for tomorrow.
  </p>
</section>
