<section class="my-3 md:my-9">
  <h1
    class="angular-blog-theme-heading-one mx-auto text-5xl md:text-6xl font-medium text-blue-600 text-left subpixel-antialiased"
  >
    Angular Homepage
  </h1>
  <p
    class="angular-blog-theme-introduction my-9 text-3xl font-light text-blue-300 text-left subpixel-antialiased"
  >
    You can experience coding with Angular here
  </p>
  <p
    class="angular-blog-theme-paragraph my-3 text-xl font-light text-neutral-300 text-left subpixel-antialiased"
  >
    You can experience coding with Angular here.You can experience coding with Angular here.You can
    experience coding with Angular here.You can experience coding with Angular here.You can
    experience coding with Angular here.
  </p>
</section>
