@import "tailwindcss";
@import "@nuxt/ui";

body,
html {
  color: #2563eb;
  background-color: #0c0a09;
  font-family: "Roboto", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Serif", serif;
}
::selection {
  background: #2563eb;
}
