@import "tailwindcss";
@import "@nuxt/ui";

body,
html {
  color: #2563eb;
  background-color: #0a0a0a;
  font-family: "Roboto", serif;
}
h1,
h2 {
  font-family: "Roboto Serif", serif;
}
::selection {
  background: #2563eb;
}

/* Blog Page */
.heyitsjoealongi-theme-blog img {
  width: 100vw;
}
.heyitsjoealongi-theme-blog h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  color: #2563eb;
  text-align: left;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  @media (min-width: 768px) {
    font-size: 3.75rem;
    line-height: 1;
  }
}
.heyitsjoealongi-theme-blog h2 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #fafafa;
  text-align: left;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  @media (min-width: 1024px) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 1;
  }
}
.heyitsjoealongi-theme-blog h3,
.heyitsjoealongi-theme-blog h4,
.heyitsjoealongi-theme-blog h5,
.heyitsjoealongi-theme-blog h6 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-family: "Roboto", serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 300;
  color: #2563eb;
  text-align: left;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  @media (min-width: 1024px) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
.heyitsjoealongi-theme-blog h2 > a {
  color: #93c5fd;
}
.heyitsjoealongi-theme-blog ul {
  list-style: disc;
  list-style-position: inside;
  margin-left: 1.5rem;
}
.heyitsjoealongi-theme-blog p,
.heyitsjoealongi-theme-blog > p,
.heyitsjoealongi-theme-blog li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-family: "Roboto", serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 100;
  color: #fafafa;
  text-align: left;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  @media (min-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.heyitsjoealongi-theme-blog p > strong {
  font-weight: 900;
}
.heyitsjoealongi-theme-blog a {
  color: #2563eb;
}
.heyitsjoealongi-theme-blog a:hover {
  color: #93c5fd;
}
.heyitsjoealongi-theme-blog code {
  height: auto;
  width: 100%;
  display: inline-block;
  padding: 1rem;
  color: #93c5fd;
  background-color: #171717;
  white-space: wrap;

  @media (min-width: 768px) {
    padding: 1.9rem;
  }
}
