@import "tailwindcss";
@import "@nuxt/ui";

body,
html {
  color: #2563eb;
  background-color: #0c0a09;
  font-family: "Roboto", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Serif", serif;
}
::selection {
  background: #2563eb;
}

/* Blog Page */

.heyitsjoealongi-theme-blog h1 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: 700;
  color: #2563eb;

  @media (min-width: 768px) {
    font-size: 3.75rem;
    line-height: 1;
  }
}
.heyitsjoealongi-theme-blog h2 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: #ffffff;

  @media (min-width: 768px) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
.heyitsjoealongi-theme-blog h3,
h4,
h5,
h6 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: 100;
  color: #2563eb;

  @media (min-width: 768px) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
.heyitsjoealongi-theme-blog p,
.heyitsjoealongi-theme-blog li {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  font-size: 1rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: 100;
  color: #d4d4d4;

  @media (min-width: 768px) {
    font-size: 1.3rem;
  }
}
.heyitsjoealongi-theme-blog h2 > a {
  color: #93c5fd;
}
.heyitsjoealongi-theme-blog a {
  color: #2563eb;
}
.heyitsjoealongi-theme-blog a:hover {
  color: #93c5fd;
}
.heyitsjoealongi-theme-blog code {
  color: #93c5fd;
}
.heyitsjoealongi-theme-blog img {
  width: 100vw;
}
