<section class="my-3 md:my-9">
  <h1
    class="angular-blog-theme-heading-one mx-auto text-5xl md:text-6xl font-medium text-blue-600 text-left subpixel-antialiased"
  >
    Angular Blog
  </h1>
  <p
    class="angular-blog-theme-introduction my-9 text-3xl font-light text-blue-300 text-left subpixel-antialiased"
  >
    You can read all about coding with Angular here
  </p>
  <ul
    class="angular-blog-theme-card flex flex-col flex-auto my-3 md:my-9 text-neutral-300 text-xl subpixel-antialiased cursor-pointer"
  >
    <li class="flex items-center">
      <a
        class="h-auto w-full p-3 text-xl text-blue-300 hover:text-neutral-950 bg-transparent hover:bg-blue-300 border-b-1 border-blue-300 hover:border-blue-300 transition-all"
        rel="noopener noreferrer"
        target="_self"
        href="/blog/blog-title"
      >
        Angular blog title
      </a>
    </li>
    <li class="flex items-center">
      <a
        class="h-auto w-full p-3 text-xl text-blue-300 hover:text-neutral-950 bg-transparent hover:bg-blue-300 border-b-1 border-blue-300 hover:border-blue-300 transition-all"
        rel="noopener noreferrer"
        target="_self"
        href="/blog/blog-title"
      >
        Angular blog title two
      </a>
    </li>
    <li class="flex items-center">
      <a
        class="h-auto w-full p-3 text-xl text-blue-300 hover:text-neutral-950 bg-transparent hover:bg-blue-300 border-b-1 border-blue-300 hover:border-blue-300 transition-all"
        rel="noopener noreferrer"
        target="_self"
        href="/blog/blog-title"
      >
        Angular blog title three
      </a>
    </li>
  </ul>
</section>
